body {
    background-color: green;
}

.road {
    height: 1000px;
    width: 300px;
    background-color: rgb(101, 97, 97);
    position: relative;
    left: 150px;
}

.road-move1 {
    height: 120px;
    width: 20px;
    background-color: white;
    position: relative;
    bottom: 500px;
    left: 280px;
    animation: road 4s infinite;
}

.road-move2 {
    height: 120px;
    width: 20px;
    background-color: white;
    position: relative;
    bottom: 500px;
    left: 280px;
    animation: road 4s infinite;
}

.car {
    /* position: relative; */
    /* left: 280px;
    bottom: 180px;
    width: 30px;
    height: 30px;
    background: red; */
}

.controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    margin: 10px;
    bottom: 150px;
    left: 120px;
}

@keyframes road {
    0% {
        left: 280px;
        bottom: 1200px;
    }
    25% {
        left: 280px;
        bottom: 800px;
    }
    50% {
        left: 280px;
        bottom: 400px;
    }
    75% {
        left: 280px;
        bottom: 0px;
    }
    100% {
        left: 280px;
        bottom: -300px;
        background-color: rgba(0, 0, 0, 0);
    }
}